<section id="persionalInfo">
	<header id="persionalInfoHead">
		<div class="photo">
			<img src="src/myPhotog.jpg" alt="there will be my photo">
		</div>
		<div class="persInfo">
			<ul>
				<li><img class="icon" src="src/icon_age.png" alt="age">23岁</li>
				<li><img class="icon" src="src/icon_hometown.png" alt="hometown">甘肃省酒泉市</li>
				<li><img class="icon" src="src/icon_tele.png" alt="ele">176*****840</li>
				<li><img class="icon" src="src/icon_email.png" alt="email">1309851609@qq.com</li>
			</ul>
		</div>
		<div class="tech">
			<ul>
				<li class="HTML5">HTML5</li>
				<li class="Javascript">Javascript</li>
				<li class="shell">shell</li>
				<li class="node">node</li>
			</ul>
		</div>
		<div class="intrest">
			<h2>兴趣爱好</h2>
			<ul>
				<li>
					<span><img class="icon" src="src/icon_reading.png" alt="reading">阅读</span>&nbsp;&nbsp;&nbsp;&nbsp;
					<span><img class="icon" src="src/icon_music.png" alt="music">音乐</span>
				</li>
				<li>
					<span><img class="icon" src="src/icon_movie.png" alt="movie">电影</span>&nbsp;&nbsp;&nbsp;&nbsp;
					<span><img class="icon" src="src/icon_comic.png" alt="comic">动漫</span>
				</li>
				<li>
					<span><img class="icon" src="src/icon_trip.png" alt="trip">驴友</span>&nbsp;&nbsp;&nbsp;&nbsp;
					<span><img class="icon" src="src/icon_sport.png" alt="sport">运动</span>
				</li>
			</ul>
		</div>
	</header>
	<article id="basicInfo">
		<div class="titleName">
			<h2>李泽玉</h2>
			<p>求职意向：前端开发(js,node,react)</p>
		</div>
		<div class="eduBak">
			<h3>教育背景</h3>
			<div>
				<p>2012.9~2016.7&nbsp;&nbsp; 山东大学&nbsp;&nbsp; 数字媒体技术（本科）</p>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;数据结构，C++高级程序设计，C语言程序设计，数字图像处理，计算机组成原理，计算机网络，操作系统，web设计与应用，平面构成，色彩构成，立体构成，动画制作，3D动画制作，游戏设计等</p>
				<br />
				<p>2013.9~2016.7&nbsp;&nbsp; 山东大学&nbsp;&nbsp; 朝鲜语（双学位，本科）</p>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;韩国语(初级，中级，高级)，韩国语口语（初级，中级，高级），韩国语视听（初级，中级，高级），韩国文化概论，韩国历史概论等</p>
			</div>
		</div>
		<div class="workExp">
			<h3>工作经历</h3>
			<div>
				<p>2016.3~2017.7&nbsp;&nbsp; 中软国际科技服务有限公司&nbsp;&nbsp; 中级测试工程师</p>
				<p>
					<ul>
						<li>Linux组网环境搭建：按照规划进行镜像环境的安装，包括：操作系统安装，操作系统配置，服务器接入网管，业务部件安装等</li>
						<li>镜像环境容灾测试：按照测试用例给环境构造相应的异常，通过网管检测环境可靠性</li>
						<li>环境巡检与维护：例行环境巡检：通过shell脚本针对环境系统，网络，业务等进行监测；对相关问题进行定位与处理</li>
						<li>shell脚本编写与维护：自行维护巡检脚本，并开发部分远程批量脚本来针对巡检脚本发现的问题进行处理</li>
					</ul>
				</p>
			</div>
		</div>
		<div class="program">
			<h3>项目经历</h3>
			<div>
				<p>关于前端，我完成过如下项目</p>
				<ul>
					<li>基于canvas的爱心鱼小游戏：爱心鱼小游戏是基于鼠标控制鱼的移动，旋转来获取气泡分数的一款简单的小游戏，基于对象：鱼，气泡，海葵（背景）等，通过基于对象的属性及方法，以及requestAnimation-Frame的动画效果完成游戏功能。基于这个项目的收获点：面向对象，游戏池概念，canvas使用，requestAnimationFrame动画效果</li>
					<li>基于webgl的立方体控制：canvas-webgl功能的基本实现，包括：着色器（OpenGL ES），空间立体几何的基本概念，视点算法，光照算法</li>
					<li>基于nodejs与github.io的个人博客搭建：借助github.io提供的平台，实现简单的个人博客搭建，原生js实现
					<!-- <a href="https://richardlik.github.io/public/index.html">点击进入</a> --></li>
					<li>对于nodejs以及react的基础有所了解</li>
				</ul>
			</div>
		</div>
		<div class="evaluation">
			<h3>自我评价</h3>
			<p>
				擅长Html5，Javascript（包括一些基础框架如：jquery），可以按照美工设计完成基础页面；对Linux有独特的爱好，计算机网络与环境是我的长处；跟随技术的脚步，喜欢去了解一些新的技术或工具（react，webpack，yeoman等）；如果非说要会一门后端语言的话，我认为node更适合我
			</p>
		</div>
	</article>
</section>